*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
   list-style-type: none; 
}
ul li{
    margin: 15px;
}
ul li:hover{
    background-color: rgb(182, 236, 236);
    border: 2px solid red;
    border-radius: 10px;
}


ul li a{
    text-decoration: none;
    font-size: 20px;
}
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ccc;
    padding: 20px;
  }
  #content {
    margin-left: 220px;
    padding: 30px;
  }
  